@use '../../pages/global-styles.scss' as *;

.mobileNav_container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  max-height: 70px;
  background-color: $color-primary;

  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.mobileNav_icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(317deg) brightness(105%) contrast(104%);
  transform: scale(2);
}

.mobileNav_container_alt {
  background-color: black;
  .mobileNav_icon {
    filter: invert(59%) sepia(10%) saturate(1625%) hue-rotate(346deg) brightness(88%) contrast(87%);
  }
}

