$font-default: "Futura";
$color-primary: #0092c7;
$color-faded: rgba(196, 196, 196, 0.83);
$color-black: #000000;
$color-off-black: #272727;
$color-white: #fff;

$desk-break: 1000px;
$break-HiDPI: 1600px;

html {
  font-family: $font-default;
}

body {
  margin: 0;
}
