@use 'global-styles' as *;

.home-container {
  padding: 0 30px;
  padding-top: 50px;

  @media (min-width: $desk-break) {
    padding: 0 30px;
    padding-left: 10%;
    padding-top: 220px;
  }
}

.home-nav {
  display: flex;
  margin-bottom: 35px;
  flex-direction: column;
  position: relative;
  z-index: 1;

  a {
    text-decoration: none;
    color: $color-primary;
    font-style: normal;
    font-weight: bold;
  }

  @media (min-width: $desk-break) {
    margin-bottom: 70px;
    flex-direction: row;

    a {
      font-size: 48px;
      line-height: 64px;
    }

    a::after {
      content: "•";
      position: relative;
      bottom: 15px;
    }

    a:last-child:after {
      content: "";
    }
  }
}

.home-section-intro {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $desk-break) {
    flex-direction: row;
  }
}

.home-profile-photo {
  align-self: flex-end;
  max-width: 38vw;
  max-height: 38vw;

  @media (min-width: 500px) {
    align-self: flex-start;
  }

  @media (min-width: $desk-break) {
    align-self: flex-start;
    max-width: initial;
    max-height: initial;
  }
}

.home-body-content {
  margin-top: 35px;
  padding-right: 8%;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  p:first-child {
    margin-top: 0;
  }

  @media (min-width: $desk-break) {
    max-width: 460px;
    width: 37%;

    margin-left: 4%;
    margin-top: 165px;

    font-size: 24px;
    line-height: 32px;
  }
}

.home-background-image {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 140vh;
  overflow: hidden;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.home-nav-faded-text a {
  color: $color-faded;

  path {
    fill: $color-faded;
    stroke: $color-faded;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: $color-primary;
  }
}

.home_title {
  transform: scale(1);
  height: 50px;
  padding-bottom: 10px;
}

.home_activeLink svg {
  path {
    stroke: var(--active-color);
    fill: var(--active-color);
  }
}

.home_dev {
  animation: fill 0.5s ease forwards 1.2s;
  path {
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    animation: line-animation 2s ease forwards;
  }
}

.home_photo {
  animation: fill 0.5s ease forwards 1.5s;
  path {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: line-animation 2s ease forwards 0.2s;
  }
}

.home_write {
  animation: fill 0.5s ease forwards 1.7s;
  path {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: line-animation 2s ease forwards 0.7s;
  }
}

.home_resume {
  animation: fill 0.5s ease forwards 2s;
  path {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    animation: line-animation 2s ease forwards 1s;
  }
}
