@use '../../pages/global-styles.scss' as *;

.gallery-content-wrapper {
  display: flex;

}

.gallery-sidebar-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;
}

.gallery-linkBlock {
  display: flex;
  flex-direction: column;
  width: 150px;

  a {
    text-decoration: none;
    color: $color-black;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.gallery-linkBlock:first-of-type {
  margin-bottom: 100px;
}

.gallery-column-container {
  margin-top: 35px;
  height: 95vh;
  overflow: scroll;
  display: flex;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gallery-images-column {
  text-align: center;
  margin-right: 20px;

}

.gallery-images-column:last-of-type {
  margin-right: 0px;
}

::-webkit-scrollbar {
  display: none;
}
.gallery-image {
  border-radius: 4px;
  margin: 0 0px 20px 0px;
}
