@use '../../pages/global-styles.scss' as *;

.gallery-content-wrapper {
  display: flex;
}

.gallery-column-container {
  margin-top: 35px;
  height: 95vh;
  overflow: scroll;
  display: flex;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gallery-images-column {
  text-align: center;
  margin-right: 20px;
}

.gallery-images-column:last-of-type {
  margin-right: 0px;
}

::-webkit-scrollbar {
  display: none;
}
.gallery-image {
  border-radius: 4px;
  margin: 0 0px 20px 0px;
}
