@use '../../pages/global-styles.scss' as *;

.imagePage-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: $color-black;
  grid-template-rows: 1fr auto;
  color: $color-white;

  @media (min-width: $desk-break) {
    grid-template-columns: 1fr 1fr;
  }
}

.imagePage-imageInfo-Wrapper {
  display: grid;
  place-items: center;
  justify-content: start;
}