@use '../../pages/global-styles.scss' as *;

.imagePage-container {
  overflow: hidden;

  display: grid;
  background-color: $color-black;
  grid-template-rows: 2.5fr 1fr;
  color: $color-white;

  @media (min-width: $desk-break) {
    height: 100%;
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto;
  }

}

.imagePage-main-image {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.imagePage-gallery-section {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template: auto 20% / 1fr 1fr 1fr;
  height: 100vh;
}

.imagePage-previews {
  box-sizing: border-box;
  grid-row: 2;
  grid-column: 1 / 4;

  align-items: center;

  display: flex;
  width: 100%;
  justify-content: center;
  
}

.imagePage-preview-image {
  box-sizing: border-box;
  padding: 0 10px;
  margin: auto 5px;



}

.imagePage-imageInfo-Wrapper {
  display: grid;
  place-items: center;
  
  @media (min-width: $desk-break) {
    justify-content: start; 
    padding-left: 20px;
  }
}