@use '../../pages/global-styles.scss' as *;

.imagePage-container {
  box-sizing: border-box;
  padding: 10px;
  height: 100vh;
  overflow: hidden;

  display: grid;
  background-color: $color-black;
  grid-template-rows: 2.5fr 1fr;
  color: $color-white;

  @media (min-width: $desk-break) {
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto;
  }

}

.imagePage-container-image {

}

.imagePage-imageInfo-Wrapper {
  display: grid;
  place-items: center;
  
  @media (min-width: $desk-break) {
    justify-content: start; 
    padding-left: 20px;
  }
}