@use "../../pages/global-styles.scss" as *;

.markdown-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.markdown-wrapper {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;

  @media (min-width: $break-HiDPI) {
    max-width: 60%;
  }
}

.markdown-images {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;

  @media (min-width: $break-HiDPI) {
    max-width: 60%;
  }
}
