@use "../../pages/global-styles.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap");

.markdown-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.markdown-wrapper {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;

  p,
  li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }

  blockquote {
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-blockquote;

    p {
      margin: 0;
    }
  }

  strong {
    font-weight: 700;
  }

  @media (min-width: $break-HiDPI) {
    max-width: 60%;
  }
}

.markdown-images {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;

  @media (min-width: $break-HiDPI) {
    max-width: 60%;
  }
}
