@use '../../pages/global-styles.scss' as *;

.gallery-sidebar-container {
  width: 20vw;
  display: grid;
  height: 95vh;
  place-items: center;
  grid-template-rows: 1fr 2fr 1fr;

  @media (max-width: $desk-break) {
    display: none;
  }
}

.gallery-content-cell {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.gallery-linkBlock {
  display: flex;
  flex-direction: column;
  width: 150px;

  a {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 14px;
  }

  @media (min-width: $break-HiDPI) {
    a {
      font-size: 16px;
    }
  }
}

.dev-contentWrapper {
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.sidebar-currentPage {
  color: $color-primary;
}
