@use '../global-styles.scss' as *;

hr {
  width: 30%;
  margin: 40px auto;
}

.image-right-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  @media (min-width: $desk-break) {
    flex-direction: row;
    max-width: 900px;
    margin: auto;
  }
}

.image-right-text {
  @media (min-width: $desk-break) {
    max-width: 50%;
  }

  margin-bottom: 100px;
}

.image-right-image {
  display: block;
  max-height: 500px;
  @media (min-width: $desk-break) {
    max-width: 30%;
  }
}

.mdx-default-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
  
  
  @media (min-width: $desk-break) {
    max-width: 900px;
  }
}

.mdx-default-media {
  align-self: center;
  width: auto;
  max-width: 90%;
  height: auto;
  margin-top: 20px;
  
  @media (min-width: $desk-break) {
    margin-top: 100px;
  }
}

.mdx-iframe {
  display: inline-block;
  margin-top: 20px;
  min-height: 500px;
}

.dev-sectionHeader {
  max-width: 90%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;

  h1 {
    color: $color-primary;
  }
}

.dev-applications {

  h1, p, .skillStack-container {
    text-align: center;
  }
}


