@use '../../pages/global-styles.scss' as *;

.thumbNailContainer {
  box-sizing: border-box;
  padding-top: 40px;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  @media (min-width: $desk-break) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
    grid-gap: 50px;
  }
}