@use '../../pages/global-styles.scss' as *;

.thumbNailContainer {
  box-sizing: border-box;
  padding-top: 40px;
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  @media (min-width: $desk-break) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $break-HiDPI) {
    padding: 10%;
    margin-bottom: 0;
  }
}
